@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bgImg{
    background-image: url("https://i.ibb.co/KLVDgNk/1-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.catImg:hover > div {
    display:block;
    cursor:pointer
}
.catImg:hover{
    background:black;
}
.catImg div:hover{
    display:block
}
